<#@ include file="ModelsTemplate.tt" #>
<#+
// <copyright file="ModelGenerator.tt" company="">
//  Copyright © . All Rights Reserved.
// </copyright>

public class ModelGenerator : Generator
{
	public IEnumerable<XElement> ModelElements;

	protected override void RunCore()
	{
		var modelsTemplate = new ModelsTemplate
		{
			Models = ModelElements
		};
		modelsTemplate.RenderToFile("AllModels.cs");
	}
}
#>
